<h1>Welcome to The One Stop TravelApp </h1>
<%= link_to 'Home', controller: 'articles' %>

<p>Find me in app/views/welcome/index.html.erb</p>
<h1>Listing articles</h1>
<p>Explore our site <%= link_to "Check out some posts!", articles_path %></p>
<p>Returning user? <%= link_to "Login!", login_path %></p>
<p>New user? <%= link_to "Sign up now!", signup_path %></p>
