// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.col-md-6 col-md-offset-3 {
  margin-left: 25%;
  margin-right: 25%;
background-color: blue;

}

body.userBody{
  background-color: red;
}
.row{
margin-left: 5px;
}
h1{
  margin-left: 5px;
}
p{
  margin-left: 5px;
}
